:root {
  --grass: #117c13;
}

body {
  display: flex;
  height: 100vh;
  background-color: #333;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('favicon.ico');
  background-size: cover;
  margin-right: 10px;
  vertical-align: middle;
}